
// colors 
$color-primary: #3F51B5;
$color-primary-dark: #303F9F;
$color-accent: #FF4081;
$color-primary-light: #C5CAE9;
$color-blanco: #FFFFFF;
$color-primary-text: #212121;
$color-secondary-text: #757575;
$color-divider: #BDBDBD;